@model convert_shop.Models.CustomerRanking

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="wrapper">
        <div class="content-wrapper px-4 py-2">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="d-flex align-items-center justify-content-between">

                    <h2 class="text-primary mb-3"><i class="fas fa-edit"></i> Create Ranking</h2>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to List
                    </a>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="mb-2 text-black font-weight-bold">Ranking Name</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.customer_ranking_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.customer_ranking_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-2 text-black font-weight-bold">Required Points</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.required_points, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.required_points, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-2 text-black font-weight-bold">Voucher Discount(%)</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.voucher_discount_percentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.voucher_discount_percentage, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            }


        </div>
    </div>
</body>
</html>
