@model convert_shop.Models.CustomerRanking

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Customer type</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="content-wrapper px-4 py-2">
            <div class="d-flex align-items-center justify-content-between">

                <h2 class="text-primary mb-3"><i class="fas fa-edit"></i> Edit Ranking</h2>
                <a href="@Url.Action("Index")" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.customer_ranking_id)

                <div class="mb-3">
                    <div class="mb-2 text-black font-weight-bold">Ranking Name</div>
                    @Html.EditorFor(model => model.customer_ranking_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter category name" } })
                    @Html.ValidationMessageFor(model => model.customer_ranking_name, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <div class="mb-2 text-black font-weight-bold">Required Points</div>
                    @Html.EditorFor(model => model.required_points, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter category name" } })
                    @Html.ValidationMessageFor(model => model.required_points, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <div class="mb-2 text-black font-weight-bold">Voucher Discount(%)</div>
                    @Html.EditorFor(model => model.voucher_discount_percentage, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter category name" } })
                    @Html.ValidationMessageFor(model => model.voucher_discount_percentage, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex gap-2">

                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                </div>
            }
        </div>
    </div>

</body>
</html>
